:is(.daggerheart-theme-dark, .theme-dark) .daggerheart2.sheet.actor,
.daggerheart2.sheet.actor.daggerheart-theme-dark {
  .ability-score {
    .label { font-weight: bold; }
    .mod { --daggerheart-color-black: var(--daggerheart-color-blue-white); }
  }

  .textbox textarea { color: var(--daggerheart-color-blue-white); }

  .effects-element .conditions-list .condition.content-link {
    background: unset;
    border-color: var(--daggerheart-color-blue-gray-3);
    &:hover { background: var(--daggerheart-color-blue-gray-3); }
  }

  dialog.warnings:is(#tooltip, .locked-tooltip) {
    background: var(--daggerheart-color-dark-gray) url("../../ui/denim075.png");
    li { border-color: var(--daggerheart-color-blue-gray-3); }
  }
}
